@import url('https://fonts.googleeapis.com/css?family=Montserrat:300,400');

body{
	font-family: 'Montserrat',sans-serif;
}
body,html{
	width: 100%;
	height: 100%;
}

body{
	font-family: 'Montserrat', sans-serif;
}
hr{
	max-width: 65px;
	border-width: 3px;
	border-color: #F05F44;
}

.faded{
	color: rgba(255,255,255,0.8);

}
header.startup{
	background-position: center;
	background-image: url("https://images.unsplash.com/photo-1489533119213-66a5cd877091?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&dl=danielle-macinnes-IuLgi9PWETU-unsplash.jpg, https://unsplash.com/search/photos/startup");
    background-size: cover;
    height: 100%
}
header .startup h1 {
	font-size: 2rem;

}
.btn{
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 300px;
	font-family: 'Montserrat',sans-serif;

}
.btn-xl{
	padding: 1rem 2rem;
}
.btn-primary{
	background-color: #F05F44;
	background-color: #F05F44;
}
.btn-primary:hover{
	background-color: #ee4b08;
	border-color: #ee4b08;
	border-width: 5px;
	cursor: pointer;
}
